body {
    font-family: 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

html {
    height: 100%;
}

body {
    animation-name: background-colors;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

@keyframes background-colors {
    0% {background-color: #FF9C24}
    33% {background-color: #FDEE00}
    66% {background-color: #0BDA51}
    100% {background-color: #D6A0F8}
}

#split {
    height: 70%;
    background-color: white;
    box-shadow: 12px 12px 0 black;
    padding: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 15px 2px 5px;

}

#bio {
    align-self: center;
    width: 400px;
    flex-shrink: 0;
    margin-left: 10px;
}

@media only screen and (max-width: 800px) {
    body {
        overflow-y: auto;
    }

    #split {
        flex-direction: column;
        padding: 0;
        height: 95%;
    }

    #bio {
        margin-left: 0;
        padding: 0 30px;
        width: auto;
    }
}

.socials {
    display: flex;
    justify-content: flex-start;
    column-gap: 20px;
}

.socials > a > img {
    height: 30px;
    width: 40px;
}

#projects {
    max-height: 90%;
    flex-shrink: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

.project {
    max-height: 35px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 30px;
    background-color: black;
    color: white;
    border-radius: 30px;
    overflow: hidden;
    transition: all 400ms cubic-bezier(.4, 1.6, .4, .8);
}

.project:hover {
    transform: scale(105%);
    animation-duration: 100ms;
}

.project.expand {
    height: auto;
    max-height: 250px;
    transition: all 400ms cubic-bezier(.4, 1.6, .4, .8);
}

.header {
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.link {
    background-color: rgba(255, 255, 255, 0.75);
    font-weight: bold;
    margin-top: 20px;
    padding: 7px;
    border-radius: 20px;
    text-align: center;
}

.name {
    font-size: 30px;
}